<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Without GraphQL</title>
  </head>
  <body>
    <header>
      <style>
        .nav li {
          padding: 5px;
        }
      </style>
      <ul class="nav" style="display: flex; list-style-type: none">
        <li><a href="{% url 'app:index' %}">Home </a></li>
        <li><a href="{% url 'app:create_product' %}">Create Product</a></li>
        <li><a href="{% url 'app:create_image' %}">Create Images</a></li>
        <li><a href="{% url 'app:create_order' %}">Create Order</a></li>
      </ul>
    </header>
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
